<h2>TV Show Name: {{show.name}}</h2>
<h2>Rating: {{show.rating}}</h2>
<img src="{{show.image}}" alt=""><br>
{{{show.summary}}}
<a href="{{show.official_site}}" target="_blank">Official Site</a><br>
<a href="/">Back</a>